* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  position: relative;
}

/* Global CSS */

h1 {
  font-size: 3rem;
  font-weight: 600;
}

h2 {
  font-size: 2rem;
  font-weight: 600;
  line-height: 60px;
}

h3 {
  font-size: 1.2rem;
  padding-bottom: 1rem;
  font-weight: 500;
}


/* Join Button */
#w-btn {
  margin-left: 40px;
  margin-right: 10px;
  background-color: #2A438C;
  color: #fff;
  padding: 9px 30px;
  border-radius: 20px;
  font-size: 1.2rem;
  font-weight: 500;
  box-shadow: none;
  border: none;
}


/* Search Button */
#g-btn {
  text-decoration: none;
  background-color: #2A438C;
  color: #fff;
  padding: 9px 30px;
  border-radius: 20px;
  cursor: pointer;
}

.sec-space {
  padding: 4rem 0.3rem;
}

.extra-space {
  padding-top: 8rem;
}


/* header - navbar */
header {
background-color: #F2F2F2;
position: fixed;
top: 0;
right: 0;
width: 100%;
z-index: 999;
}

/* navbar */
#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}

#navbar .logo{
  margin-left: 10px;
  width: 120px;
}

#menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
}

#menu li a{
  color:#2A438C;
  text-decoration: none;
  margin-left: 40px;
  font-size: 1.1rem;
  font-weight: 500 ;
}

#bar{
  color: #2A438C;
  display: none;
}


/* Hero */
.hero {
  background-color: #fff;
}

.hero-box {
  display: flex;
  justify-content: space-between;
  height: 100vh ;
  align-items: center;
}

.h-right{
  width: 50%;
}

.h-right img{
  width: 100%;
  object-fit: cover;
}


/* Find ... time and cost */
.h-left{
  width: 45%;
  margin-left: 20px;
  color: #000;
}

.h-left p{
  padding: 1.5rem .6rem;
}


/* search box */
.search{
  position: relative;
}

.search input{
  width: 100%;
  height: 4rem;
  border-radius: 35px;
  padding: 0 20px;
  background-color: #F2F2F2;
  font-size: 1rem;
  outline: none;
  border: none;
}

.search a{
  position: absolute;
  top: 12px;
  right: 12px;
}


/* "Need something done" */
.features .fe-box{
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.features .fe-box div{
  width: 200px;
}

.features .fe-box img{
  width: 50px;
  margin-top: 3rem;
}


/* "Job in demand" */
.jobs .job-id{
 margin-top: 3rem;
 display: flex;
 justify-content: space-between;
 align-items: center;
 list-style: none;
 box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.1);
}

.jobs .job-id li{
  padding: 20px 40px;
  cursor: pointer;
  color: #000;
}

.jobs .job-id li.active{
  background-color: #2A438C;
  color: #fff;
}

.jobs .jList {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  border: 1px solid #ccc;
  align-items: center;
  justify-items:start ;
  cursor: pointer;
  color: #000;
  padding:2rem 2rem ;
}

.jobs .jList.delete{
  display: none;
}

.jobs .jList:hover{
  background-color: #ecf1ee;
}

.jobs .jList img{
  width: 40px;
}

.jobs .jList h3{
  padding-bottom: 0;
}

/* Brand  Section Job Listing  Section */
.trust .t-box{
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 3rem;
}

.trust .t-box img {
  width: 100px;
  object-fit: cover;
  margin: 1rem 1rem 1rem 0;
}


/* Brand  Section  */
.team-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.team-container .fl-box{
  border: 1px solid #c1e1d9;
  width: 280px;
  padding: 2rem 0;
  border-radius: 20px;
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.fl-box img {
  border-radius: 50%;
  margin-bottom: 1rem;
 
}

.skill {
  padding-bottom: 3rem;
}

/* skill tags */
#key {
  font-size: .8rem;
  background-color: #FF4B55;
  color: #fff;
  padding: 10px 20px;
  padding-bottom: 10px;
  border-radius: 20px;
}

/* footer */
footer {
  background: #253c82;
  color: #fff;
  padding: 10px;
}

.top {
  display: flex;
  align-items: center;
  text-align: start;
  justify-content: space-between;
  flex-wrap: wrap;
}

.top .logo{
  background-color: #fff;
  padding: 15px;
  max-width: 170px;
  height: auto;
  border-radius: 20px;
  box-shadow: none;
  border: none;
}

.top .icon {
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(360deg) brightness(100%) contrast(100%); /* Turn icons black to white */
  width: 2rem;
  margin-left: 0.5rem;
}

.bottom {
  margin-left: 10px;
  margin-right: 10px;
  padding-top: 2rem;
  text-align: start;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.bottom div {
  display: flex;
  flex-direction: column;
}

.bottom a {
  text-decoration: none;
  color: #fafafa;
  line-height: 35px;
  font-size: 1.1rem;
}


/* Browser jobs - job.html */
.jobs form{
  margin-top: 3rem;
  width: 100%;
  border: 1px solid #51a995;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.jobs form i {
padding-left: 1rem;
font-size: 1.3rem;
font-weight: bold;
}

.jobs form input {
  width: 100%;
  border: none;
  outline: none;
  padding: 1rem 0.5rem;
  font-size: 1.1rem;
}

/* job details page */
.job-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f8fcfa;
  border: 1px solid #51a995;
  border-radius: 38px;
  padding: 2rem;
}

.job-img-row{
  display: flex;
  align-items: center;
}

.job-header img{
  width: 100px;
  background: #fff;
  padding: 1rem;
  border-radius: 15px;
  margin-right:2rem;
}

.job-description p{
  padding-bottom: 2rem;
  padding-left: 2rem;
}


@media(max-width:699px){
  .obj-width {
    width: 95%;
    } 
 }

@media(max-width:699px){
    #menu {
      background-color: #fff;
      display: block;
      width: 280px;
      height: auto;
      position: absolute;
      top: 80px;
      right: -100%;
      padding: 30px 0;
      box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
      border-radius: 13px;
      opacity: 0;
      transition: all 0.3s ease;
    }

    #menu.active{
      right: 10px;
      opacity: 1;
    }

    #menu li {
      padding: 1rem;
    }

    #menu li a {
      color: #2A438C;
    }

    #bar {
      display: block;
      font-size: 1.7rem;
      cursor: pointer;
    }

    #w-btn {
      margin: 20px 0 0 50px;
      background-color: #2A438C;
      color: #fff;
    }


    /* hero  */
    .hero-box {
      flex-direction: column-reverse;
      justify-content: center;
      height: auto;
      align-items: start;
      padding: 8rem 0;
    }

    .h-left{
      width: 100%;
    }

    .h-right{
      display: none;
    }

    /* Features  Section */
    .features .fe-box div{
      width: 40%;
    }

    /* Job Listing  Section  */
    .jobs .job-id{
      position: relative;
      width: 100%;
      overflow-x: scroll;
      -ms-overflow-style: none;
      scrollbar-width: none;
    }

    .jobs .job-id li{
      padding: 20px 30px;
      text-wrap: nowrap;
    }

    .jobs-container{
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      margin-top: 2rem;
    }

    .jobs .jList {
      width: 48%;
      margin-top: 1rem;
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      grid-gap: 15px;
      text-align: center;
      justify-items: center;

      padding:2rem 1rem ;
    }

    .skill {
      padding-bottom: 1rem;
    }

    .team-container .fl-box{
      width: 48%;
      text-align: center;
      border-radius: 10px;
      margin-top: 1rem;
    
    }


    /* footer  */
    .top i {
      margin:1rem 1rem  0 0;
    }

    .bottom div {
      width: 50%;
      margin-bottom: 50px;
    }

    .sec-space {
      padding: 4rem 0 0 1rem;
    }


    /* job detail  */
    .job-header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    border-radius: 15px;
    padding: 1rem;
    }
    .job-img-row{
      margin-bottom: 1.5rem;
    }
    .job-header img{
      padding: 0rem;
      border-radius: 10px;
    }

}
